/*  . Selects class */
.flex-sample {
    /* If I want to use flex to move items on my page, I will edit the display property in CSS */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    background-color: pink;
    border-radius: 5px;
    padding: 7px;
    width: 30%;
    
}

#flex-container{
    display: flex;  /*flex-direction: row;*/
    flex-wrap: wrap; /*This is a multi-line flex container, wrap any content which goes past the flex container to a new line */
    justify-content: space-evenly;
    

}

/* Our flex directions is going to control where information on our page goes, almost telling it in what order to read.
(Top to bottom, left to right, etc. */